<div class="bground">
<div class="container" *ngIf="personalInfoComplete">
  <div class="one">
    <div class="text1">
      Por favor, aponte sua câmera para o QRcode do ferramental
    </div>
  <div class="two">
    <input type="text" 
           class="input"
           placeholder="Phone Number">
  </div>
  <div class="three">
    <input type="text" 
           class="input"
           placeholder="Email">
  </div>
  <div class="four">
     <button class="submit" (click)="personalInfoSubmit()">Submit</button>
  </div>
</div>

<div class="container" *ngIf="addressComplete">
  <div class="one">
    <input type="text" 
           class="input"
           placeholder="Address">
  </div>
  <div class="two">
    <input type="text" 
           class="input"
           placeholder="Zip Code">
  </div>
  <div class="three">
    <input type="text" 
           class="input"
           placeholder="City / State">
  </div>
  <div class="four">
     <button class="submit" (click)="addressSubmit()">Submit</button>
  </div>
</div>


<div class="container" *ngIf="creditCardComplete">
  <div class="one">
    <input type="text" 
           class="input"
           placeholder="Name on Card">
  </div>
  <div class="two">
    <input type="text" 
           class="input"
           placeholder="Credit Card Number">
  </div>
  <div class="three">
    <input type="text" 
           class="input"
           placeholder="Experation Date">
  </div>
  <div class="four">
     <button class="submit" (click)="creditCardSubmit()">Submit</button>
  </div>
</div>

<div class="thankYou" *ngIf="completedOrder">Thank You!<br>Your Order is Complete</div>




<div class="customerContactContainer">
  <div class="nameTitle">Name</div>
  <div class="emailTitle">Email</div>
</div>


<div *ngIf="customer">
  <div class="customerListItemsContainer">
    <div class="name">{{name}}</div>
    <div class="email">test</div>
  </div>
</div>
</div>

